.card{
    background: white;
    margin: 16px 0 16px 0;
    padding: 18px;
    font-weight: bold;
    font-size: 20px;
}
.cardText{
    color: #6F9CD6;
    font-size: 18px;
}
@media only screen and (max-width: 600px) {
    .card {
      font-size: 10px;
    }
    .cardText{
        font-size: 10px;
    }
  }