.rowCard{
    background: white;
    margin: 16px 8px 16px 8px;
    padding: 8px;
    font-weight: bold;
    width: 100%;
}
@media only screen and (max-width: 600px) {
    .rowCard {
      font-size: 10px;
    }
  }